{%- style -%}
  #shopify-section-{{ section.id }}{

  }
{%- endstyle -%}

<section>
    <div class="">
        
    </div>
</section>

{% schema %}
{
"name":"Image fixed with text",
"settings": [],
"blocks": [],
"presets": [
    {
        "name":"Image fixed with text",
    }
]
}
{% endschema %}