


/* Derived from base colors (theme settings) */

:root {
  --color-foreground: var(--color-base-text);
  --color-background: var(--color-base-background);
  --color-heading: var(--color-base-heading);
  --color-border: var(--color-base-border);
}

/* Primary button */

:root {
  --color-button-background: var(--color-base-accent);
  --color-button-border: var(--color-base-accent);
  --color-button-text: var(--color-base-solid-button-labels);
}

/* Secondary button */

.button--secondary {
  --color-button-background: var(--color-background);
  --color-button-border: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
}

/* Tertiary button */

.button--tertiary {
  --color-button-background: var(--color-background);
  --color-button-border: var(--color-border);
  --color-button-text: var(--color-base-outline-button-labels);
}

/* Links */

:root {
  --color-link: var(--color-base-outline-button-labels);
}

/* Badges */

:root {
  --color-badge-background: rgba(var(--color-background), 0.95);
  --color-badge-foreground: rgb(var(--color-foreground));
  --color-badge-border: rgb(var(--color-border));
}

/* Duration */

:root {
  --duration-short: 100ms;
  --duration-default: 250ms;
  --duration-long: 500ms;
  --duration-animate: 1000ms;
  --image-position: center center;
}

/* base */

.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page-width {
  /*max-width: var(--page-width);*/
  max-width:100%;
  margin: 0 auto;
  /*padding: 0 1.5rem;*/
  padding: 0 50px;
}

.page-width-desktop {
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 5rem;
  }

  .page-width--narrow {
    padding: 0 9rem;
  }

  .page-width-desktop {
    padding: 0;
  }
}

@media screen and (min-width: 990px) {
  .page-width--inner {
    padding: 0 15rem;
  }

  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }

  .page-width-desktop {
    max-width: var(--page-width);
    padding: 0 5rem;
  }
}

.page-width--full-width {
  max-width: 100%;
  padding: 0;
}

.section + .section {
  margin-top: var(--spacing-sections-mobile);
}

@media screen and (min-width: 750px) {
  .section + .section {
    margin-top: var(--spacing-sections-desktop);
  }
}

.element-margin {
  margin-top: 5rem;
}

.element-margin-small {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .element-margin {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

[data-page-rendering] .shopify-section + .shopify-section {
  content-visibility: auto;
}

.shopify-design-mode[data-page-rendering] .shopify-section + .shopify-section,
.no-js [data-page-rendering] .shopify-section + .shopify-section {
  content-visibility: visible;
}

body {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
}

.background-secondary {
  border-top: 0.1rem solid rgb(var(--color-border));
  padding: 4rem 0 5rem;
}

@media screen and (min-width: 750px) {
  .background-secondary {
    padding: 6rem 0 5rem;
  }
}

.grid-auto-flow {
  display: grid;
  grid-auto-flow: column;
}

.page-margin,
.shopify-challenge__container {
  margin: 7rem auto;
}

.rte-width {
  max-width: 82rem;
  margin: 0 auto 2rem;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

body.overflow-hidden {
  padding-inline-end: var(--scrollbar-width);
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  width: auto;
  height: auto;
  clip: auto;
}

.full-width-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.heading,
h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  color: rgb(var(--color-heading));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

.h0 {
  font-size: calc(var(--font-heading-scale) * 3.6rem);
}

@media only screen and (min-width: 750px) {
  .h0 {
    font-size: calc(var(--font-heading-scale) * 6rem);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
}

h4,
.h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}

@media only screen and (min-width: 750px) {
  h4,
  .h4 {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

h6,
.h6 {
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

[data-heading-capitalize] h1,
[data-heading-capitalize] h2,
[data-heading-capitalize] h3,
[data-heading-capitalize] .h0,
[data-heading-capitalize] .h1,
[data-heading-capitalize] .h2,
[data-heading-capitalize] .h3,
[data-heading-capitalize] .card-information__text,
[data-heading-capitalize] .bundle-products .product-title {
  text-transform: uppercase;
}

[data-heading-capitalize] .article-card__title,
[data-heading-capitalize] .article-template__navigation .h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem - 0.2rem);
  letter-spacing: 0.2em;
}

[data-heading-capitalize] .card-information__text.h4,
[data-heading-capitalize] .bundle-products .product-title {
  font-size: calc(var(--font-heading-scale) * 1.5rem - 0.2rem);
  letter-spacing: 0.2em;
}

@media only screen and (min-width: 750px) {
  [data-heading-capitalize] .article-card__title,
  [data-heading-capitalize] .article-template__navigation .h3 {
    font-size: calc(var(--font-heading-scale) * 2rem - 0.2rem);
  }

  [data-heading-capitalize] .card-information__text.h4,
  [data-heading-capitalize] .bundle-products .product-title {
    font-size: calc(var(--font-heading-scale) * 1.6rem - 0.2rem);
  }
}

blockquote {
  font-style: italic;
  color: rgba(var(--color-foreground), 0.75);
  border-inline-start: 0.2rem solid rgb(var(--color-border));
  padding-inline-start: 1rem;
}

@media screen and (min-width: 750px) {
  blockquote {
    padding-inline-start: 1.5rem;
  }
}

.caption {
  font-size: 1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.7 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .caption {
    font-size: 1.2rem;
  }
}

.typeset0,
.typeset,
.typeset2,
.typeset3 {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.typeset0 {
  font-size: 1.3rem;
}

@media screen and (min-width: 750px) {
  .typeset0 {
    font-size: 1.4rem;
  }
}

.typeset {
  font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
  .typeset {
    font-size: 1.6rem;
  }
}

.typeset2 {
  font-size: 1.8rem;
}

@media screen and (min-width: 750px) {
  .typeset2 {
    font-size: 2rem;
  }
}

.typeset3 {
  font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .typeset3 {
    font-size: 2.4rem;
  }
}

.typeset .link,
.typeset2 .link,
.typeset3 .link {
  font-size: inherit;
}

.caption-with-letter-spacing {
  font-size: 1rem;
  letter-spacing: 0.13rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.75);
}

.caption-with-letter-spacing .link {
  font-size: inherit;
  color: inherit;
}

.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
  font-size: 1.3rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.04rem;
}

.color-foreground {
  color: rgb(var(--color-foreground));
}

table:not([class]) {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.4rem;
  border-style: hidden;
  box-shadow: 0 0 0 0.1rem rgb(var(--color-border));
  /* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
  padding: 1em;
  border: 0.1rem solid rgb(var(--color-border));
}

@media screen and (max-width: 749px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: start;
}

.right {
  text-align: end;
}

@media screen and (max-width: 749px) {
  .mobile-center {
    text-align: center;
  }
  
  .mobile-left {
    text-align: start;
  }
  
  .mobile-right {
    text-align: end;
  }
}

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.7;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

.link {
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0;
  position: relative;
  border: none;
  box-shadow: none;
  text-decoration: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  background-image: linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px), linear-gradient(to top, transparent 0px, transparent 0px);
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
  background-size: 0% 0.1rem, 100% 0.1rem;
  transition-property: background-size;
  transition-timing-function: ease;
  transition-duration: var(--duration-default);
}

@media screen and (hover: hover) {
  .link:hover {
    background-position: left bottom, left bottom;
    background-size: 100% 0.1rem, 100% 0.1rem;
  }
}

.link--text {
  color: rgb(var(--color-foreground));
}

.link--underline {
  background-image: linear-gradient(to top, rgb(var(--color-link)) 0px, rgb(var(--color-link)) 0px), linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px);
}

.link-with-icon {
  background-image: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.link-with-icon .label {
  position: relative;
}

@media screen and (hover: hover) {
  .link-with-icon .label {
    background-color: transparent;
    background-image: linear-gradient(to top, rgb(var(--color-link)) 0px, rgb(var(--color-link)) 0px), linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px);
    background-repeat: no-repeat;
    background-position: right bottom, right bottom;
    background-size: 0% 0.1rem, 100% 0.1rem;
    transition: background-size var(--duration-default) ease;
  }

  .link-with-icon:hover .label {
    background-position: left bottom, left bottom;
    background-size: 100% 0.1rem, 100% 0.1rem;
  }
}

.link-with-icon .icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-inline-end: 1rem;
}

.circle-divider::after {
  content: '\2022';
  font-weight: 400;
  margin: 0 1.3rem 0 1.5rem;
}

.circle-divider:last-of-type::after {
  content: none;
}

.dash-divider::after {
  content: '\2014';
  font-weight: 400;
  margin: 0 1rem 0 1.2rem;
}

.dash-divider:last-of-type::after {
  content: none;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: rgb(var(--color-border));
  display: block;
  margin: 5rem 0;
}

@media screen and (min-width: 750px) {
  hr {
    margin: 7rem 0;
  }
}

.full-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.placeholder {
  background-color: rgba(var(--color-base-text), 0.04);
  color: rgba(var(--color-base-text), 0.55);
  fill: rgba(var(--color-base-text), 0.55);
}

details > * {
  box-sizing: border-box;
}

.break {
  word-break: break-word;
}

.visibility-hidden {
  visibility: hidden;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
    animation: none !important;
  }
}

/* arrow animation */
@media screen and (hover: hover) {
  .animate-arrow .icon-arrow path {
    transform: translateX(-0.25rem);
    transition: transform var(--duration-default) ease;
  }

  .animate-arrow:hover .icon-arrow path {
    transform: translateX(-0.05rem);
  }
}

/* base-details-summary */
summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary .icon-caret {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -0.3rem;
  height: 0.6rem;
  transition: transform var(--duration-default) ease;
}

summary::-webkit-details-marker {
  display: none;
}

.disclosure-has-popup {
  position: relative;
}

.disclosure-has-popup[open] > summary::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: block;
  cursor: default;
  background: none;
}

.disclosure-has-popup > summary::before {
  content: none;
}

.disclosure-has-popup[open] > summary + * {
  z-index: 101;
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus {
  outline: 0;
  box-shadow: none;
}

*:focus-visible {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-keyboard-focus), 0.5);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-keyboard-focus), 0.5);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-keyboard-focus), 0.5);
}

.focused.focus-inset,
.no-js .focus-inset:focus {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-keyboard-focus), 0.5);
}

.no-js .focus-inset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - none
*/

/* Dangerous for a11y - Use with care */
.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}

.focus-offset:focus-visible {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: 1rem;
  box-shadow: 0 0 0 1rem rgb(var(--color-background)),
    0 0 0.2rem 1.2rem rgba(var(--color-keyboard-focus), 0.5);
}

.focus-offset.focused,
.no-js .focus-offset:focus {
  outline: 0.2rem solid rgb(var(--color-keyboard-focus));
  outline-offset: 1rem;
  box-shadow: 0 0 0 1rem rgb(var(--color-background)),
    0 0 0.2rem 1.2rem rgba(var(--color-keyboard-focus), 0.5);
}

.no-js .focus-offset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* component-title */
.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.title-wrapper.center {
  justify-content: center;
}

.title-wrapper.right {
  justify-content: flex-end;
}

.title-wrapper .title {
  margin: 0;
}

.title {
  margin: 3rem 0 2rem;
}

.title--primary {
  margin: 4rem 0;
}

@media screen and (min-width: 990px) {
  .title {
    margin: 5rem 0 3rem;
  }

  .title--primary {
    margin: 2rem 0;
  }

  .title-wrapper {
    margin-bottom: 3rem;
    align-items: center;
  }
}

.title-wrapper .link {
  font-size: 1.6rem;
  margin-top: 0;
  flex-shrink: 0;
}

.title-wrapper .link-with-icon {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-heading-scale) * 1.3rem);
  letter-spacing: 0.3rem;
  font-weight: 600;
}

.title-wrapper.right .link-with-icon .icon {
  width: 1.5rem;
}

.title-wrapper--no-margin {
  margin-bottom: 0;
}

.title-wrapper--no-heading {
  display: none;
}

@media screen and (max-width: 989px) {
  .title-wrapper--mobile-link {
    display: flex;
  }
}

[data-heading-center] .title-wrapper:not(.title-wrapper--no-heading) {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[data-heading-center] .page-title {
  text-align: center;
}

.title .link {
  font-size: inherit;
  line-height: normal;
}

.subtitle {
  font-size: 1.6rem;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  letter-spacing: 0.05rem;
  color: rgba(var(--color-foreground), 0.7);
}

@media screen and (min-width: 750px) {
  .subtitle {
    font-size: 1.8rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
}

/* component-grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: var(--grid-horizontal-spacing);
  --grid-horizontal-spacing: 1rem;
}

@media screen and (min-width: 480px) {
  .grid {
    --grid-horizontal-spacing: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .grid {
    --grid-horizontal-spacing: 3rem;
  }
}

.grid__item {
  padding-bottom: 0.5rem;
  flex-grow: 1;
  flex-shrink: 0;
  width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
  max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
}

@media screen and (min-width: 750px) {
  .grid__item {
    padding-bottom: 1rem;
  }

  .grid__item--one-third {
    max-width: 100%;
    width: calc(33.33% - var(--grid-horizontal-spacing) / 2);
  }

  .grid__item--two-third {
    max-width: 100%;
    width: calc(66.67% - var(--grid-horizontal-spacing) / 2);
  }

  .grid__item--one-quarter {
    max-width: 100%;
    width: calc(25% - var(--grid-horizontal-spacing) / 2);
  }

  .grid__item--three-quarter {
    max-width: 100%;
    width: calc(75% - var(--grid-horizontal-spacing) / 2);
  }
}

.grid--gapless {
  margin-bottom: 0;
  --grid-horizontal-spacing: 0rem;
}

.grid--gapless .grid__item {
  padding-bottom: 0;
}

@media screen and (max-width: 749px) {
  .grid__item.slider__slide--full-width {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .grid--1-col-tablet .grid__item {
    max-width: 100%;
  }

  .grid--one-third-max.grid--2-col-tablet .grid__item {
    max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }

  .grid--one-third-max.grid--3-col-tablet .grid__item {
    max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }
}

@media screen and (min-width: 990px) {
  .grid--one-third-max.grid--3-col-desktop .grid__item {
    max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }
}

.grid--1-col .grid__item {
  max-width: 100%;
  width: 100%;
}

.grid--3-col .grid__item {
  width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
}

@media screen and (min-width: 750px) {
  .grid--3-col .grid__item {
    width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }
}

.grid--2-col .grid__item {
  width: calc(50% - var(--grid-horizontal-spacing) / 2);
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  .grid--2-col .grid__item {
    width: calc(50% - var(--grid-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }

  .grid--4-col-tablet .grid__item {
    width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
  }

  .grid--3-col-tablet .grid__item {
    width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }

  .grid--3p3-col-tablet .grid__item {
    width: calc(30.3% - var(--grid-horizontal-spacing) * 3 / 3.3);
  }

  .grid--2-col-tablet .grid__item {
    width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }

  .grid--2p3-col-tablet .grid__item {
    width: calc(43.48% - var(--grid-horizontal-spacing) 2 / 2.3);
  }

  .grid--1-col-tablet .grid__item {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .grid--6-col-desktop .grid__item {
    width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
  }

  .grid--5-col-desktop .grid__item {
    width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
  }

  .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
  }

  .grid--4p3-col-desktop .grid__item {
    width: calc(23.26% - var(--grid-horizontal-spacing) * 4 / 4.3);
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }

  .grid--3p3-col-desktop .grid__item {
    width: calc(30.3% - var(--grid-horizontal-spacing) * 3 / 3.3);
  }

  .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }

  .grid--rigid.grid--6-col-desktop .grid__item {
    max-width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
  }

  .grid--rigid.grid--5-col-desktop .grid__item {
    max-width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
  }

  .grid--rigid.grid--4-col-desktop .grid__item {
    max-width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
  }

  .grid--rigid.grid--3-col-desktop .grid__item {
    max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }

  .grid--rigid.grid--2-col-desktop .grid__item {
    max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .grid--1-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .grid--1-col-mobile .grid__item {
    max-width: 100%;
    width: 100%;
  }
}

.grid__item--vertical-align {
  align-self: center;
}

.grid__item--full-width {
  flex: 0 0 100%;
  max-width: 100%;
}

.grid--no-gutters {
  column-gap: 0;
}

.grid--no-gutters .grid__item {
  padding-bottom: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* ========================
   Component: Highlight text
   ======================== */

@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  
  1% {
    opacity: 1;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}
  
.highlighted-text {
  position: relative;
  display: inline-block;
  font-style: normal;
}

.highlighted-text .icon-scribble {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  stroke: rgb(var(--color-highlight));
  transform: scaleX(1);
}
  
.highlighted-text .icon-circle {
  width: 120%;
  height: 140%;
  inset-block-start: -20%;
  inset-inline-start: -10%;
}

.highlighted-text .icon-scribble path {
  /*stroke-dasharray: 1;
  stroke-dashoffset: 1;
  opacity: 0;*/
}

[animate] .highlighted-text .icon-scribble path {
  /*opacity: 1;
  animation: strokeAnimation 1.3s cubic-bezier(0.65, 0, 0.35, 1) forwards;*/
}

.highlighted-text:is([data-style=marker], [data-style=bold-underline], [data-style=underline]) {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgb(var(--color-highlight)) 0, rgb(var(--color-background)) 100%), linear-gradient(to right, rgb(var(--color-highlight)) 0, rgb(var(--color-background)) 100%);
  transition: background-size .7s cubic-bezier(.7, 0, .3, 1);
}

.highlighted-text[data-style=marker] {
  background-position: left 70%;
  background-size: 0 80%;
}

[animate] .highlighted-text[data-style=marker] {
  background-size: 100% 80%;
}

.highlighted-text[data-style=underline] {
  background-size: 0 3px, 0% 80%;
  background-position: left 90%, left 50%;
}

[animate] .highlighted-text[data-style=underline] {
  background-size: 100% 3px, 0% 80%;
}

.highlighted-text[data-style=bold-underline] {
  background-position: left 90%;
  background-size: 0 28%;
}

[animate] .highlighted-text[data-style=bold-underline] {
  background-size: 100% 28%;
}

.highlighted-text[data-style=solid-color] {
  transition: color 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

[animate] .highlighted-text[data-style=solid-color] {
  color: rgb(var(--color-highlight));
}

.highlighted-text .icon-modern-underline {
  width: 100%;
  height: 30%;
  inset-block-start: auto;
  inset-block-end: -20%;
}

.highlighted-text .icon-sketch-underline {
  width: 100%;
  height: 60%;
  inset-block-start: auto;
  inset-block-end: -20%;
}

.highlighted-text .icon-squiggle {
  width: 100%;
  height: 50%;
  inset-block-start: auto;
  inset-block-end: -30%;
}

.highlighted-text .icon-heavy-squiggle {
  width: 100%;
  height: 50%;
  inset-block-start: auto;
  inset-block-end: -35%;
}

details em:not(.highlighted-text),
.product__text em:not(.highlighted-text) {
  display: contents;
}

/* ===== End: Highlight text ===== */

/* component-button */
/* Button - default */

.button,
.shopify-challenge__button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 3rem;
  padding-top: calc(1rem + var(--font-button-baseline));
  text-decoration: none;
  border-radius: var(--button-radius);
  border: var(--button-border-width) solid rgb(var(--color-button-border));
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button-background));
  font-family: var(--font-button-family);
  min-width: 24rem;
  max-width: 100%;
  min-height: 4.6rem;
  text-transform: uppercase;
  font-weight: 600;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration-long);
  transition-timing-function: ease;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  box-shadow: var(--button-shadow-horizontal-offset) var(--button-shadow-vertical-offset) rgba(var(--color-shadow), var(--shadow-opacity));
}

.shopify-challenge__button {
  border: var(--button-border-width) solid rgb(var(--color-button-border));
}

@media screen and (min-width: 750px) {
  .button,
  .shopify-challenge__button {
    min-height: 5rem;
  }

  .button--large {
    font-size: calc(var(--font-button-size) + 2px);
    padding: 1.5rem 3rem;
    padding-top: calc(1.5rem + var(--font-button-baseline));
    min-height: 6rem;
  }
}

.button[disabled],
.button[aria-disabled=true] {
  pointer-events: none;
}

.button,
.button-label,
.shopify-challenge__button {
  font-size: var(--font-button-size);
  letter-spacing: 0.2em;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.button--tertiary {
  font-size: calc(var(--font-button-size) - 1px);
  padding: 0.8rem 1.5rem;
  padding-top: calc(0.8rem + var(--font-button-baseline));
  min-width: 9rem;
  min-height: 4rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  border: none;
  box-shadow: inset 0 0 0 0.1rem rgb(var(--color-button-border));
  transition: box-shadow var(--duration-default) ease;
}

.button--small {
  font-size: max(calc(var(--font-button-size) - 2px), 1.2rem);
  padding: 0.6rem 2rem;
  padding-top: calc(0.6rem + var(--font-button-baseline));
  min-height: 4rem;
  min-width: 18rem;
}

@media screen and (max-width: 749px) {
  .mobile\:button--small {
    font-size: max(calc(var(--font-button-size) - 2px), 1.2rem);
    padding: 0.6rem 2rem;
    padding-top: calc(0.6rem + var(--font-button-baseline));
    min-height: 4rem;
    min-width: 18rem;
  }
}

.shopify-challenge__container .shopify-challenge__button {
  min-width: 16rem;
  margin-top: 3rem;
}

/* Button - hover */

@media screen and (hover: hover) {
  .button::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent, rgba(var(--color-button-text), 0.25), transparent);
  }

  .button--secondary::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-image: none;
    background-color: rgb(var(--color-button-text));
    backface-visibility: hidden;
    will-change: transform;
    transform: rotate3d(0, 0, 1, 10deg) translate3d(-1.2em, 110%, 0);
    transform-origin: 0% 100%;
    transition: transform var(--duration-long) ease;
  }

  .button--tertiary::after {
    content: none;
  }

  .button:hover {
    box-shadow: none;
    background-color: rgba(var(--color-button-background), 0.85);
    transition-delay: var(--duration-default);
  }

  .button:hover::after {
    animation: shine var(--duration-animate) ease;
  }

  .button--secondary:hover {
    color: rgb(var(--color-button-background));
    transition-delay: 0s;
  }

  .button--secondary:hover::after {
    animation: none;
    transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
  }

  .button--tertiary:hover {
    color: rgb(var(--color-button-text));
    box-shadow: inset 0 0 0 0.2rem rgb(var(--color-button-border));
    transition-delay: 0s;
  }

  @keyframes shine {
    to {
      left: 100%;
    }
  }
}

/* Button - other */

.button:disabled,
.button[aria-disabled=true],
.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--full-width {
  display: flex;
  width: 100%;
}

.button.loading {
  color: transparent;
}

.button.loading::after {
  content: '';
  display: block;
  animation: by-loading var(--duration-long) infinite linear;
  border: 0.2rem solid transparent;
  border-inline-start: 0.2rem solid rgb(var(--color-button-text));
  border-radius: 100%;
  height: 2.4rem;
  width: 2.4rem;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1.2rem;
  margin-left: -1.2rem;
  right: auto;
  bottom: auto;
  background: none;
  transform: none;
  transform-origin: unset;
}

.button--small.loading:before {
  width: 2rem;
  height: 2rem;
}

@keyframes by-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button--cta {
  min-height: 4.5rem;
  background: none;
  box-shadow: none;
  min-width: auto;
  max-width: 100%;
  padding: 0;
  border: none;
  justify-content: space-between;
  text-transform: none;
  color: rgb(var(--color-link));
}

.button--cta.button--small {
  min-height: 2.7rem;
  min-width: auto;
}

.button--cta.button--small .label {
  padding-inline-end: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 750px) {
  .button--cta {
    min-width: 22.5rem;
  }

  .button--cta.button--large .label {
    font-size: 1.8rem;
  }
}

@media screen and (hover: hover) {
  .button--cta:hover {
    color: rgb(var(--color-link));
    background-color: transparent;
  }
}

.button--cta::before,
.button--cta::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  transform: none;
  border: none;
  background-image: none;
  background-color: rgb(var(--color-border));
  transition: transform var(--duration-default) ease;
}

.button--cta::before {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.button--cta::after {
  transform-origin: right;
  transition-delay: 0.25s;
}

@media screen and (hover: hover) {
  .button--cta:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
  }

  .button--cta:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
  }
}

.button--cta .label {
  padding-inline-end: 2rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  letter-spacing: 0.04rem;
  text-align: start;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  transition: transform var(--duration-default) ease;
}

@media screen and (hover: hover) {
  .button--cta:hover .label {
    transform: translateX(0.5rem);
  }
}

.button--cta .icon {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

.button--cta.loading {
  color: rgb(var(--color-link));
}

.button--cta.loading::before {
  content: none;
}

.button--cta.loading::after {
  background-color: transparent;
  border-width: 0.1rem;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.8rem;
  margin-left: 0;
  left: auto;
  right: 0;
}

.button--cta.loading .icon {
  color: transparent;
}

.button--arrow {
  box-shadow: none;
  min-height: auto;
  min-width: auto;
}

/* Button - group */
.button-group {
  display: inline-flex;
  gap: clamp(0.3rem, 2vw, 1.25rem);
  flex-wrap: wrap;
}

.right .button-group {
  justify-content: flex-end;
}

.left .button-group {
  justify-content: flex-start;
}

.center .button-group {
  justify-content: center;
}

@media screen and (max-width: 749px) {
  .mobile-left .button-group {
    justify-content: flex-start;
  }

  .mobile-right .button-group {
    justify-content: flex-end;
  }

  .mobile-center .button-group {
    justify-content: center;
  }
}

/* component-media */

.media-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: rgb(var(--color-placeholder));
}

[data-lazy-image] .media-wrapper.loading,
.media-wrapper[loading] {
  position: relative;
}

[data-lazy-image] .media-wrapper.loading::before,
[data-lazy-image] .media-wrapper.loading::after,
.media-wrapper[loading]::before,
.media-wrapper[loading]::after {
  content: '';
  position: absolute;
  width: 5rem;
  height: 0.2rem;
  left: 50%;
  top: 50%;
  margin-top: -0.1rem;
  margin-left: -2.5rem;
  z-index: 1;
  background-color: rgb(var(--color-base-background));
}

[data-lazy-image] .media-wrapper.loading::before,
.media-wrapper[loading]::before {
  opacity: 1;
  background-color: rgb(var(--color-base-text));
}

[data-lazy-image] .media-wrapper.loading::after,
[data-lazy-image] .media-wrapper--small.loading::after,
.media-wrapper[loading]::after {
  animation: preloading 1.5s infinite ease;
  will-change: transform;
}

[data-lazy-image] .media-wrapper.loading img[is=lazy-image],
.media-wrapper[loading] img[is=lazy-image] {
  opacity: 0;
}

.media-wrapper--large[loading]::before,
.media-wrapper--large[loading]::after {
  width: 8rem;
  height: 0.3rem;
  margin-left: -4rem;
  margin-top: -0.15rem;
}

[data-lazy-image] .media-wrapper--small.loading::before,
[data-lazy-image] .media-wrapper--small.loading::after {
  width: 3rem;
  margin-left: -1.5rem;
}

.media {
  display: block;
  position: relative;
  overflow: hidden;
}

.media--transparent {
  background-color: transparent;
}

.media > *:not(.zoom, .deferred-media__poster-button),
.media model-viewer,
.media > picture *:not(.zoom, .deferred-media__poster-button) {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.media > img,
.media > picture img {
  object-fit: cover;
  object-position: var(--image-position);
}

.media > img,
.media > picture {
  transition: opacity var(--duration-long) ease;
}

.media--image-contain > img,
.media--image-contain > picture img {
  object-fit: contain;
}

.media--square {
  padding-bottom: 100%;
}

.media--portrait {
  padding-bottom: 125%;
}

.media--landscape {
  padding-bottom: 66.6%;
}

.media--cropped {
  padding-bottom: 56%;
}

.media--wide {
  padding-bottom: 56.25%;
}

.media--circle {
  padding-bottom: 100%;
  border-radius: 50%;
}

.media.media--hover-effect > img + img,
.media.media--hover-effect > picture + picture {
  opacity: 0;
  pointer-events: none;
  background-color: rgb(var(--color-placeholder));
}

@media screen and (min-width: 990px) {
  .media--cropped {
    padding-bottom: 63%;
  }
}

.media .image-fit {
  position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	object-position: var(--image-position);
}

.media--image-contain .image-fit {
	object-fit: contain;
}

.media--adapt {
	position: relative;
	height: 0;
	padding-bottom: var(--image-ratio-percent);
}

.media--adapt .image-fit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.media--400px {
	height: 260px
}

.media--450px {
	height: 292.5px
}

.media--500px {
	height: 325px
}

.media--550px {
	height: 357.5px
}

.media--600px {
	height: 390px
}

.media--650px {
	height: 422.5px
}

.media--700px {
	height: 455px
}

.media--750px {
	height: 487.5px
}

.media--850px {
	height: 552.5px
}

.media--900px {
	height: 585px
}

.media--100vh {
	height: 100vh
}

@media screen and (min-width: 750px) {
	.media--400px {
		height: 400px
	}

  .media--450px {
		height: 450px
	}

	.media--500px {
		height: 500px
	}

  .media--550px {
		height: 550px
	}

	.media--600px {
		height: 600px
	}

  .media--650px {
		height: 650px
	}

  .media--700px {
		height: 700px
	}

	.media--750px {
		height: 750px
	}

  .media--850px {
		height: 850px
	}

  .media--900px {
		height: 900px
	}
}

@media screen and (max-width: 749px) {
  .media-mobile--200px {
		height: 200px
	}

	.media-mobile--250px {
		height: 250px
	}

	.media-mobile--300px {
		height: 300px
	}

	.media-mobile--400px {
		height: 400px
	}

	.media-mobile--500px {
		height: 500px
	}

  .media-mobile--600px {
		height: 600px
	}

	.media-mobile--100vh {
		height: 90vh
	}

  .media-mobile--square {
    padding-bottom: 100%;
  }
  
  .media-mobile--portrait {
    padding-bottom: 125%;
  }
  
  .media-mobile--landscape {
    padding-bottom: 66.6%;
  }

  .media-mobile--adapt {
    position: relative;
    height: 0;
    padding-bottom: var(--image-ratio-percent);
  }

  .media-mobile--adapt .image-fit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
  }
}

deferred-media {
  display: block;
}